<!DOCTYPE html>
<html lang="en-US" dir="ltr">


 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">




   <!-- ===============================================-->
   <!--    Document Title - Be sure to add your team name, along with any other info-->
   <!-- ===============================================-->
   <title>LOCUS Visual Design Guide</title>




   <!-- ===============================================-->
   <!--    Favicons - Feel free to replace the NMI Logo with your own! This generator seems good: https://realfavicongenerator.net-->
   <!-- ===============================================-->
   <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
   <link rel="manifest" href="assets/img/favicons/site.webmanifest">
   <link rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Londrina+Outline&family=Racing+Sans+One&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://use.typekit.net/uln3hpb.css">
   <link rel="stylesheet" href="https://use.typekit.net/uln3hpb.css">
   <meta name="msapplication-TileColor" content="#da532c">
   <meta name="theme-color" content="#ffffff">
   <!-- ===============================================-->
   <!--    Stylesheets - Don't touch theme.css; all customizations should go in custom.css-->
   <!-- ===============================================-->
   <link href="assets/css/theme.css" rel="stylesheet" />
   <link href="assets/css/custom.css" rel="stylesheet" />


 </head>




 <body>


   <!-- ===============================================-->
   <!--    Main Content-->
   <!-- ===============================================-->
   <main class="main" id="top">


     <!-- ===============================================-->
     <!--    Navbar-->
     <nav class="navbar navbar-expand-lg navbar-light fixed-top py-5 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
       <div class="container"><a class="navbar-brand" href="index.html"><img src="assets/img/nmi/Locus.svg" height="40" alt="logo" /></a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
         <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
           <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-lg-center align-items-start">
             <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="javascript:window.open('','_self').close();">&#8592; Close and return to main page</a></li>
           </ul>
         </div>
       </div>
     </nav>
     <!--    End of Navbar-->
     <!-- ===============================================-->
   
     <!-- What follows below is a pared-down version of the main index. Use whatever you'd like, delete everything else.-->




     <!-- ============================================-->
     <!-- Project Details============================-->
     <section class="pt-5 pt-md-9" id="details">


       <div class="container">
         <div class="mb-7 text-center">
           <h5 class="VDGhead fw-bold">LOCUS | New Media Certificate Capstone Project Page</h5>
           <p class="TopVDG 32x32 font-cursive text-capitalize">Visual Design Guide</p>
         </div>
       


     <!-- ============================================-->


   
     <!-- Team end ============================-->
     <!-- ============================================-->


     <!-- Additional sections below in the Extra Sections div for you to use as you'd like, or delete if unnecessary. To add a link to a section in the navbar, just link to the id of the corresponding section (for example, the first section below would be href="#booking" in the navbar li to correspond with <section id="booking"> below)-->
       <section class="pt-5" id="team">


         <div class="container">
           <div class="mb-7 text-center">
             <h3 class=" heading fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Colors</h3>
           </div>
           <div class="row">
             <div class="col-md-4 mb-4">
               <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/colors/lightblue.png" alt="Sea Blue" />
                 <div class="card-body py-4 px-3">
                   <div class="color-box" style="background-color:#8CB3E4;" onclick="copyToClipboard('#2e3f27')">
                     <span>#8CB3E4</span>
                 </div>
                   <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                     <h4 class="text-secondary fw-bold">Sea Blue #8CB3E4</h4>
                   </div>
                   <div class="d-flex align-items-center"><span class="fs-0 fw-medium">Sea Blue is used for body text and accents.</span></div>
                 </div>
               </div>
             </div>
             <div class="col-md-4 mb-4">
               <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/colors/lightblue.png" alt="Sunshine" />
                 <div class="card-body py-4 px-3">
                   <div class="color-box" style="background-color:#FFDB99;" onclick="copyToClipboard('#2e3f27')">
                     <span>#FFDB99</span>
                 </div>
                   <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                     <h4 class="text-secondary fw-bold">Sunshine #FFDB99</h4>
                   </div>
                   <div class="d-flex align-items-center"><span class="fs-0 fw-medium">Sunshine is used for body text and accents.</span></div>
                 </div>
               </div>
             </div>
             <div class="col-md-4 mb-4">
               <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/colors/orange.png" alt="Sky Blue" />
                 <div class="card-body py-4 px-3">
                   <div class="color-box" style="background-color:#142F52;" onclick="copyToClipboard('#2e3f27')">
                     <span>#142F52</span>
                 </div>
                   <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                     <h4 class="text-secondary fw-bold">Sky Blue #142F52</h4>
                   </div>
                   <div class="d-flex align-items-center"><span class="fs-0 fw-medium">Sky Blue was primarily used for the background color for our graphics.
                     </span></div>
                 </div>
               </div>
             </div>
             </div>
             </div>
           </div>
           <div class="container">
          
             <div class="row">
               <div class="col-md-4 mb-4">
                 <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/colors/red.png" alt="Leaf Green" />
                   <div class="card-body py-4 px-3">
                     <div class="color-box" style="background-color:#9AB98D;" onclick="copyToClipboard('#2e3f27')">
                       <span>#9AB98D</span>
                   </div>
                     <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                       <h4 class="text-secondary fw-bold">Leaf Green #9AB98D</h4>
                     </div>
                     <div class="d-flex align-items-center"><span class="fs-0 fw-medium">Leaf Green was primarily used as a background and secondary color.</span></div>
                   </div>
                 </div>
               </div>
               <div class="col-md-4 mb-4">
                 <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/colors/teal.png" alt="Forest Green" />
                   <div class="card-body py-4 px-3">
                     <div class="color-box" style="background-color:#2e3f27;" onclick="copyToClipboard('#2e3f27')">
                       <span>#2e3f27</span>
                   </div>
                     <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                       <h4 class="text-secondary fw-bold">Forest Green #2E3F27</h4>
                     </div>
                     <div class="d-flex align-items-center"><span class="fs-0 fw-medium"> Forest Green was used as a secondary color.
                       </span></div>
                   </div>
                 </div>
               </div>
               <div class="col-md-4 mb-4">
                 <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/colors/darkblue.png" alt="Day White" />
                   <div class="card-body py-4 px-3">
                     <div class="color-box" style="background-color:#f3eeeb;" data-hex="#f3eeeb" onclick="copyToClipboard(this)">
                       <span>#f3eeeb</span>
                   </div>
                         <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                       <h4 class="text-secondary fw-bold">Day White #F3EEEB</h4>
                     </div>
                     <div class="d-flex align-items-center"><span class="fs-0 fw-medium"> Day White was used for the background and contrast color.</span></div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-4 mb-4">
               <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/colors/darkblue.png" alt="Night Black" />
                 <div class="card-body py-4 px-3">
                   <div class="color-box" style="background-color:#271811;" data-hex="#f3eeeb" onclick="copyToClipboard(this)">
                     <span>#271811</span>
                 </div>
                   <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                     <h4 class="text-secondary fw-bold">Night Black #271811</h4>
                   </div>
                   <div class="d-flex align-items-center"><span class="fs-0 fw-medium"> Night Black was used as a contrast color.</span></div>
                 </div>
               </div>
             </div>
           </div>
        </section>
        <!-- Logos begin ============================-->
       <section class="pt-5" id="team">
          <div class="container">
           <div class="mb-7 text-center">
             <h3 class=" heading fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Logos</h3>
           </div>
           <section class="pt-5" id="team">
              <div class="container">
               <div class="row">
                 <div class="row justify-content-center">
                   <div class="col-md-4 mb-4">
                   <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/nmi/Locus.svg" alt="Logo" style="width: 100px; height: auto;"/>
                     <div class="card-body py-4 px-3">
                       <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                         <h4 class="text-secondary fw-bold">Memphis Style Logo</h4>
                       </div>
                       <div class="d-flex align-items-center"><span class="fs-0 fw-medium">This year's main Twilight logo is designed using Memphis style. This is to evoke a sense of nostalgia as it is reminiscent of the 1980's.</span></div>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-4 mb-4">
                   <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/nmi/Locus.svg" alt="Logo" style="width: 100px; height: auto;" />
                     <div class="card-body py-4 px-3">
                       <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                         <h4 class="text-secondary fw-bold">Circular Logo</h4>
                       </div>
                       <div class="d-flex align-items-center"><span class="fs-0 fw-medium">The circular logo was designed to be used in instances where a circular frame works better than a square, like social media profile pictures.</span></div>
                     </div>
                   </div>
                 </div>
                 </div>
                 </div>
               </div>
               <div class="row">
                 <div class="row justify-content-center">
                   <div class="col-md-4 mb-4">
                   <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/nmi/Locus.svg" alt="Logo" style="width: 100px; height: auto;" />
                     <div class="card-body py-4 px-3">
                       <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                         <h4 class="text-secondary fw-bold">AOC Michelob Logo</h4>
                       </div>
                       <div class="d-flex align-items-center"><span class="fs-0 fw-medium">This white logo was designed as a simpler, more indentifiable alternative to the main logo. Because Athens Orthopedic Clinic and Michelob are such large sponsors, it is imperative that they are showcased on the logos.</span></div>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-4 mb-4">
                   <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/logos/RedAOCLogo.png" alt="Logo" />
                     <div class="card-body py-4 px-3">
                       <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                         <h4 class="text-secondary fw-bold">Red AOC Michelob Logo</h4>
                       </div>
                       <div class="d-flex align-items-center"><span class="fs-0 fw-medium">This logo serves the same purpose as the white logo but is situated on a Raspberry Wine backdrop. This serves as an alternative to the white logo.</span></div>
                     </div>
                   </div>
                 </div>
                 </div>
                 </div>
               </div>
             </div><!-- end of .container-->
             <section>
               <div class="container">
                 <div class="row justify-content-center">
                   <div class="col-md-8 text-center py-6">
                     <!-- Buttons with updated href attributes and centering ensured -->
                     <div class="d-flex justify-content-center align-items-center">
                       <a class="btn btn-primary btn-lg mb-3 border-0 primary-btn-shadow" href="https://drive.google.com/drive/u/0/folders/1eX7tShBsDvg3hrkBf8rFU7MDlVGWE81J" role="button">Download Logos</a>
                     </div>
                   </div>
                 </div>
               </div>
             </section>


          
         </div><!-- end of .container-->
        </section>
     <!-- <section> close ============================-->
     <!-- ============================================-->
<section class="typography">
 <div class="container">
   <div class="mb-7 text-center">
     <h3 class=" heading fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Typography</h3>
     <p class="TopVDG 32x32 font-cursive text-capitalize">Charter</p>
     <h3 class=" heading fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize"> DIN Condensed</h3>
     <h5 class="VDGhead fw-bold">DIN Alternate</h5>
   </div>
</div>
</section>
<section>
 <div class="container">
   <div class="row justify-content-center">
     <div class="col-md-8 text-center py-6">
       <!-- Buttons with updated href attributes and centering ensured -->
       <div class="d-flex justify-content-center align-items-center">
         <a class="btn btn-primary btn-lg me-2 mb-3 border-0 primary-btn-shadow" href="https://fonts.google.com/specimen/Racing+Sans+One" role="button">Download Racing Sans</a>
         <a class="btn btn-primary btn-lg mb-3 border-0 primary-btn-shadow" href="https://fonts.adobe.com/fonts/din-condensed" role="button">Download DIN Condensed</a>
       </div>
     </div>
   </div>
 </div>
</section>
<section class="socials">
 <div class="container">
   <div class="mb-7 text-center">
     <h3 class=" heading fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Social Media Templates</h3>
   </div>
   <div class="row">
     <div class="col-md-4 mb-4">
       <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/posts/AOCspot.png" alt="B'Dazzled Blue" />
         <div class="card-body py-4 px-3">
           <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
             <h4 class="text-secondary fw-bold">Healthcare Spotlights</h4>
           </div>
           <div class="d-flex align-items-center"><span class="fs-0 fw-medium">Our social media team designed templates highlighting employees of the Athens Orthopedic Clinic that can be easily altered to celebrate different members of the staff. </span></div>
         </div>
       </div>
     </div>
     <div class="col-md-4 mb-4">
       <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/posts/RiderSpotlight.png" alt="Burnt Orange" />
         <div class="card-body py-4 px-3">
           <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
             <h4 class="text-secondary fw-bold">Rider Spotlights</h4>
           </div>
           <div class="d-flex align-items-center"><span class="fs-0 fw-medium">Our social media team designed simple, yet aesthetic cards to highlight specific riders in the races. These can also be easily altered to showcase different athletes.
             </span></div>
         </div>
       </div>
     </div>
     <div class="col-md-4 mb-4">
       <div class="card overflow-hidden shadow"> <img class="card-img-top" src="assets/img/posts/bands.png" alt="Lemon" />
         <div class="card-body py-4 px-3">
           <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
             <h4 class="text-secondary fw-bold">Band Spotlights</h4>
           </div>
           <div class="d-flex align-items-center"><span class="fs-0 fw-medium">Our social media team created this interesting graphic to highlight a band that is playing at the event. Like the others, it is designed to be easy to modify to display different bands.</span></div>
         </div>
       </div>
     </div>
   </div>
   <div class="container">
  
     <margin-bottom: 500px;>


</section>




   </div>
   <!-- Extra sections end ============================-->
   <!-- ============================================-->
<footer></footer>


     <!-- ============================================-->
 </body>


</html>
